<!doctype html>
<html>
<head>
	<title>Mint Family</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body background="img/background.png">
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-md-2">
			<br><br><br>
			<img src="img/mint_family.png" class="img-responsive" style="margin-left:auto; margin-right: auto;">
		</div>
		<div class="page-header text-center col-md-7">
			<br>
			<h1> Goals Page</h1>
		</div>
		<div class="col-sm-3 col-md-2">
			<br><br><br><br><br>
			Welcome, <%= user.local.email %>
		</div>
		<div class="col-sm-3 col-md-1">
			<br><br><br><br><br><br>
			<a href="/logout">Logout</a>
		</div>
	</div>
	<ul class="nav nav-tabs">
	    <li><a href="/profile">Accounts</a></li>
	    <li><a href="/budgets">Budgets</a></li>
	    <li class="active"><a href="/goals">Goals</a></li>
	    <li><a href="/family">Manage Family</a></li>
	</ul>
	<div class="row">
		<h3>Goal Stuff</h3>
		<% for(var i=0; i<fam_members.length; i++) {%>
			<div class="row">
				<div class="col-md-6">
				   <p><strong> Name:</strong> <%= fam_members[i].name %></p> 
				   <p>Relation: <%= fam_members[i].relation %></p>
				   <p>user_email: <%= fam_members[i].user_email %></p>
				   <p>primary_account ID: <%= fam_members[i].primary_account %></p>
				   <p>primary_account: <%= fam_members[i].primary_account_name %></p>
				   <br>
				</div>
				<div class="col-md-6">
					<a href="/budgets"> 
						Set goals for <%= fam_members[i].name %>
					</a>
				</div>
			</div>
		<% } %>
	</div>
</div>
</body>
</html>