<!doctype html>
<html>
<head>
	<title>Mint Family</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.8/d3.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body style="background-color:#f2f9f6">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-2">
				<br><br><br>
				<img src="img/mint_family.png" class="img-responsive" style="margin-left:auto; margin-right: auto;">
			</div>
			<div class="page-header text-center col-md-6">
				<br>
			</div>
			<div class="col-sm-3 col-md-3">
				<br><br><br><br><br><br>
				Welcome, <%= user.local.email %>
			</div>
			<div class="col-sm-3 col-md-1">
				<br><br><br><br><br><br>
				<a href="/logout">Logout</a>
			</div>
		</div>
		<ul class="nav nav-tabs">
			<li class="active"><a href="/profile">Account</a></li>
			<li><a href="/subuser_budgets">Budgets</a></li>
			<li><a href="/subuser_goals">Goals</a></li>
			<li><a href="/subuser_family">Family</a></li>
		</ul>
		<div class="row" style="background-color:white">
			<div class="col-sm-9">
				<div class="row">
					<div class="col-md-1"> </div>
					<div class="col-md-5">
						<p><strong> Account</strong>:</p> 
						<p><%= account.account_name %> at <%= account.financial_institution_name %></p>
						<p>Amount: <%= account.value %> <%= account.currency %></p>
						<p>Account Type: <%= account.account_type %></p>
						<p>Last updated: <%= account.last_updated %></p>
						<p>Interest Rate: <%= account.interest_rate %></p>
						<p>Account Id: <%= account.id %></p>
					</div>
					<div class="col-md-5">
						<div id="chart">
							<span class="chart_info">Shopping:
								<span style="color: #0096ff;" id='pie_shopping'>10</span>
								<br>
								Food & Dining:
								<span style="color: #AAAAAA;" id='pie_food'>8</span>
								<br>
								<span id="total"> Total: <%= account.value %> </span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
var total = $('#total').text().split(' ')[2];
	total = Number(total);
	function getRandomInt(min, max) {
		return Math.floor(Math.random() * (max - min + 1)) + min;
	}

	var x = Math.ceil(getRandomInt(total/7, total*6/7)/100)*100;

	var data = [ {name: "shopping", value: x},
	{name: "food", value: (Math.round((total-x) * 100) / 100)} ];

	var set_shopping = document.getElementById('pie_shopping');
	var set_food = document.getElementById('pie_food');
	set_shopping.innerHTML = x.toString();
	set_food.innerHTML = (Math.round((total-x) * 100) / 100).toString()

	var width = 362,
	height = 384,
	radius = Math.min(width, height) / 2;

	var chart = d3.select("#chart")
	.append('svg')
	.attr("width", width)
	.attr("height", height)
	.append("g")
	.attr("transform", "translate(" + width / 2 + "," + 96 + ")");

	var radius = Math.min(width, height) / 2;

	var color = d3.scale.ordinal()
	.range(["#0096ff", "#CCC"]);

	var arc = d3.svg.arc()
	.outerRadius(radius - 85)
	.innerRadius(radius - 110);

	var pie = d3.layout.pie()
	.sort(null)
	.startAngle(1.1*Math.PI)
	.endAngle(3.1*Math.PI)
	.value(function(d) { return d.value; });

	var g = chart.selectAll(".arc")
	.data(pie(data))
	.enter().append("g")
	.attr("class", "arc");

	console.log('got here');

	g.append("path")
	.style("fill", function(d) { return color(d.data.name); })
	.style("stroke", "#fff")
	.style("stroke-width", "3px")
	.transition().delay(function(d, i) { return i * 500; }).duration(1000)
	.attrTween('d', function(d) {
		var i = d3.interpolate(d.startAngle+0.1, d.endAngle);
		return function(t) {
			d.endAngle = i(t);
			return arc(d);
		}
	});


</script>
</html>